<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/galaxy.gif') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grayscale.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
    <title>{{ page_title }}</title>
    <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
    <script type="text/javascript">
   (function(){
      emailjs.init("user_InDnzbGp0eCqm9tRk78cx");
   })();


</script>
</head>
<body id="page-top">
    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ url_for ('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ url_for ('project') }}">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ url_for ('citizenship') }}">Become a citizen</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Choose planet which you want yo occupy to receive futher updates</h2>

          <form class="form-inline d-flex" method="POST">
            <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" name="first_name" placeholder="Your First Name...">
            <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" name="last_name" placeholder="Your Last Name...">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" name="email" placeholder=" email address...">
            <div class="dropdown mt-10 pt-10">
            <select class="form-control" name="planet">
            {% for row in result %}
                {% if loop.index0 <=9 %}
                 <option class="my-10 pt-20" value="{{ row.id }}">  {{ row.name }}</option>
                {% endif %}
              {% endfor %}
              </select>
          </div>
            <button type="submit" id='insert' class="btn btn-primary mx-auto">Submit</button>
          </form>
        </div>
      </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div  id ="message" class="alert alert-secondary bg-black border-0" role="alert">
        {% for message in messages %}
         {% for p in planet %}
          {% if loop.index <= 1 %}
           <h1 class='btn btn-warning d-flex align-items-center text-center'>{{ message }}{{ p.name}}</h1>
          {% endif %}
         {% endfor %}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  </section>
  
 <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Created by Dimitar Milev
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/grayscale.min.js') }}"></script>
  <script type="text/javascript">
   document.getElementById('insert').addEventListener("click", function(){  
   var data = {
    service_id: 'gmail',
    template_id: 'template_vNFyYhqW',
    user_id: 'user_InDnzbGp0eCqm9tRk78cx',
    template_params: {
        'username': 'James',
    }
};
 
$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
    type: 'POST',
    data: JSON.stringify(data),
    contentType: 'application/json'
}).done(function() {
    alert('Your mail is sent!');
}).fail(function(error) {
    alert('Oops... ' + JSON.stringify(error));
});
  
}); 
    
$("document").ready(function(){
    setTimeout(function(){
        $("#message").remove();
    }, 10000 );
});
  </script>
</body> 

</html>
   